
<input type="hidden" name="CredentialId" value="@Model.CredentialId" />
@{
    Html.RenderPartial("_AuditColumns");
}
<div class="form-group">
    <label for="IsActive">IsActive</label>
    <input @(Model.IsActive ? "checked" : "") id="IsActive" name="IsActive" type="checkbox" value="true">
</div>
<div class="form-group" ng-controller="EmployeeController as model" ng-init="model.Initialise(@Model.EmployeeId)">
    <label for="EmployeeId">Employee</label>
    <input type="hidden" class="form-control" id="EmployeeId" name="EmployeeId" value="{{model.Employee.EmployeeId}}">
    <ui-select ng-model="model.Employee">
        <ui-select-match placeholder="Select employee...">
            <span ng-bind="$select.selected.FirstName + '  ' + $select.selected.MiddleName + ' ' + $select.selected.LastName"></span>
        </ui-select-match>
        <ui-select-choices repeat="employee in (model.Employees | filter: $select.search) track by $index">
            <span ng-bind="employee.FirstName"></span>
            <span ng-bind="employee.MiddleName"></span>
            <span ng-bind="employee.LastName"></span>
        </ui-select-choices>
    </ui-select>
</div>
<div class="form-group">
    <label for="Credentialname">Credentialname</label>
    <input type="text" class="form-control" id="Credentialname" name="Credentialname" placeholder="Credentialname" value="@Model.Credentialname">


</div>
<div class="form-group" ng-controller="RoleController as model" ng-init="model.Initialise(@Model.CredentialId)">
    <label>Role</label>
    <ui-select multiple ng-model="model.AssignedRoles">
        <ui-select-match placeholder="Select role(s)...">
            {{$item.Name}}
        </ui-select-match>
        <ui-select-choices repeat="role in (model.Roles | filter: $select.search) track by $index">
            <span ng-bind="role.Name"></span>
        </ui-select-choices>
    </ui-select>
    <div ng-repeat="assignedRole in model.AssignedRoles track by $index">
        <input type="hidden" class="form-control" name="CredentialRoles[{{$index}}].RoleId" value="{{assignedRole.RoleId}}">
    </div>
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>